/* Flappy Summer Internship by Karl Jakob Larsson */

body {
    background-color: #555533;
}

canvas {
    background-color: #FAFAFA;
    width: 600px;
    height: 600px
    display: block;
    padding: 0px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;

}
